.sovuagoi{
    font-size: 350px;
    margin-left: 220px;
    margin-top: 116px;
    position: absolute;
  }
.cacsodagoi{

    margin-left: 730px;
    font-size: 58px;
    margin-top: 100px;
    position: absolute;
    overflow: auto;
  }
  .danhsachsodagoi{
    height: 300px;
    width: 666px;
    list-style: none;
    overflow: hidden;
  }
  textarea{
    height: 300px;
    width: 666px;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
  }