body,html{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.danhsachso{
  list-style: none;
  overflow: hidden;
  display: inline-flex;
  
}

.sogoielm{

}